{"swagger":"2.0","info":{"title":"Default title","description":"A Power Platform custom connector for location-based hazard detection, designed for Field Service dispatch scenarios.\nThe core problem: before sending a field engineer to a location, you want to know if anything dangerous has happened nearby recently, natural disasters, conflict events, infrastructure failures. This connector brings that data into Power Platform so it can be used inside flows, model-driven apps, and work order routing logic.","version":"1.0"},"host":"earthquake.usgs.gov","basePath":"/fdsnws/event/1","schemes":["https"],"consumes":[],"produces":[],"paths":{"/query":{"get":{"responses":{"default":{"description":"default","schema":{"type":"object","properties":{"count":{"type":"integer","format":"int32","description":"count"},"events":{"type":"array","items":{"type":"object","properties":{"id":{"type":"string","description":"id"},"title":{"type":"string","description":"title"},"magnitude":{"type":"number","format":"float","description":"magnitude"},"place":{"type":"string","description":"place"},"time":{"type":"integer","format":"int32","description":"time"},"tsunami":{"type":"integer","format":"int32","description":"tsunami"},"latitude":{"type":"number","format":"float","description":"latitude"},"longitude":{"type":"number","format":"float","description":"longitude"},"depth_km":{"type":"integer","format":"int32","description":"depth_km"},"url":{"type":"string","description":"url"}}},"description":"events"}}}}},"summary":"Get Nearby Earthquakes","description":"Returns earthquake events within a radius of a coordinate","operationId":"GetNearbyEarthquakes","x-ms-visibility":"important","parameters":[{"name":"format","in":"query","required":true,"type":"string","default":"geojson","x-ms-visibility":"internal"},{"name":"latitude","in":"query","required":true,"type":"number","x-ms-visibility":"important","description":"Latitude of the center point (e.g. 30.0 for Cairo)","x-ms-summary":"Latitude","format":"float"},{"name":"longitude","in":"query","required":true,"type":"number","x-ms-visibility":"important","format":"float","x-ms-summary":"Longitude","description":"Longitude of the center point (e.g. 31.2 for Cairo)"},{"name":"maxradiuskm","in":"query","required":true,"type":"number","default":100,"x-ms-visibility":"important","x-ms-summary":"Radius (km)","description":"Search radius in kilometers around the center point","format":"float"},{"name":"starttime","in":"query","required":true,"type":"string","x-ms-visibility":"important","format":"date","x-ms-summary":"Start Date","description":"Start of the date window — format YYYY-MM-DD"},{"name":"endtime","in":"query","required":true,"type":"string","format":"date","description":"End of the date window — format YYYY-MM-DD","x-ms-summary":"End Date","x-ms-visibility":"important"},{"name":"minmagnitude","in":"query","required":true,"type":"number","default":4,"format":"float","x-ms-summary":"Min Magnitude","description":"Minimum earthquake magnitude to include (0–10 scale). Default 4.0 filters minor tremors","x-ms-visibility":"important"},{"name":"orderby","in":"query","required":true,"type":"string","default":"time","x-ms-visibility":"internal"},{"name":"limit","in":"query","required":false,"type":"integer","default":20,"format":"int32","x-ms-summary":"Result Limit","description":"LimitMaximum number of events to return. Default 20, max 20000.","x-ms-visibility":"advanced"}]}}},"definitions":{},"parameters":{},"responses":{},"security":[],"tags":[],"securityDefinitions":{}}